body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}
.intro{
    height:100%;
    width:100%;
    margin:auto;
    display:table;
    top:0;
    background-size:cover;}
.intro.inner{
    display:table-cell;
    vertical-align:middle;
    width:100%;
    max-width:none;}
.content{
	margin:0 auto;
	margin-top:100px;
	text-align: center;}
.content h1 {
	font-family: "Times New Roman", Times, serif;
	font-size:200%;}
